<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Microsoft.Practices.Unity.Configuration" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" requirePermission="false" />
    <section name="GlobalReCore.Security.ApplicationConnectors" type="GlobalReCore.Security.Configuration.ApplicationConnectorsConfigurationSection, GlobalReCore" />
    <sectionGroup name="markel" type="Markel.Pricing.Service.Infrastructure.Config.MarkelGroup, Markel.Pricing.Service.Infrastructure.Core, Version=1.0.0.0, Culture=neutral">
      <section name="Loggers" type="Markel.Pricing.Service.Infrastructure.Logging.Configuration.LoggersConfigurationSection, Markel.Pricing.Service.Infrastructure.WebAPI" />
      <section name="Logging" type="Markel.Pricing.Service.Infrastructure.Logging.Configuration.LoggingConfigurationSection, Markel.Pricing.Service.Infrastructure.WebAPI" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <appSettings>
    <add key="AppName" value="Erms" />
    <add key="EnvironmentName" value="GRS" />

    <add key="DomainName" value="MARKELCORP.MARKELNA.COM" />
    <add key="CacheTimerInterval" value="8" />

    <add key="ModuleTypeFilter" value="^Markel+[/\w\.-]+(?&lt;!Base)$" />
    <add key="RegisterTypeFilter" value="^Markel\.GlobalRe\.Service.*(Manager|Repository|Provider|DbContext|Logger)$" />
    <add key="LogNotFoundExceptions" value="true" />

    <add key="MapServerUrl" value="http://geoharptest.test.mkltestna.com:2112" />
    <add key="DmsApiBaseUrl" value="http://tstapp503.test.mkltestna.com/DmsApi/v8/" />
    <add key="DmsApiUser" value="grsops" />
    <add key="DmsApiPwd" value="grsopspassword" />
    <add key="UnderwritingServiceEnvironmentName" value="ERMSDEV" />
    <!-- IUnderwritingService: DB Code -->
  </appSettings>
  <unity configSource="Unity.config" />
  <log4net configSource="Log4Net.config" />
  <markel>
    <Logging>
      <loggingSettings mode="Synchronous" sleepInterval="1000" maxQueueSize="25" filePath="c:\logs\" fileName="Markel.Runtime.log" />
    </Logging>
    <Loggers>
      <logger name="Log4NetLogger" typename="Log4NetLogger" parameters="" priorityorder="1" />
    </Loggers>
  </markel>
  <GlobalReCore.Security.ApplicationConnectors>
    <ApplicationConnector key="Erms" name="Erms" builder="ERMSConnectionBuilder" template="Data Source={0};Initial Catalog={1}" function="" environment="" order="1" type="Erms" isServerSide="false" />
    <ApplicationConnector key="ErmsAccess" name="ErmsAccess_LOWER" builder="ERMSAccessConnectionBuilder" template="Data Source=ERMSDB_QA;Initial Catalog=Lower_ErmsAccess" function="" environment="" order="2" type="ErmsAccess" isServerSide="false" />
    <!--ApplicationConnector key="GlobalRe" name="GlobalRe" builder="ApplicationConnectionBuilder" template="Data Source={0};Integrated Security=false;Initial Catalog={1};User ID={2};Password={3};Connect Timeout=5000;" function="fn_Pricing_DbName" environment="" order="5" type="Application" isServerSide="true" /-->
  </GlobalReCore.Security.ApplicationConnectors>
  <connectionStrings>
    <add name="ERMSDbContext" connectionString="" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="IAuthenticationServiceHttps">
          <security mode="Transport" />
        </binding>
        <binding name="IDealService" maxReceivedMessageSize="1000000" maxBufferSize="1000000" maxBufferPoolSize="1000000" receiveTimeout="00:00:05" />
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="IUnderwritingService" maxReceivedMessageSize="2147483647">
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://d-rdc-core01.alterracap.com:50070/AuthenticationService.svc" binding="basicHttpBinding" bindingConfiguration="IAuthenticationServiceHttps" contract="ERMSAuthentication.IAuthenticationService" name="IAuthenticationServiceHttps" />
      <endpoint address="http://d-rdc-core01:882/DealService.svc" binding="basicHttpBinding" bindingConfiguration="IDealService" contract="ERMSDealService.IDealService" name="IDealService" />
      <endpoint address="http://d-rdc-ap01.alterracap.com/Dev.UnderwritingUpdates/UnderwritingUpdatesService.svc" binding="wsHttpBinding" bindingConfiguration="IUnderwritingService" contract="ERMSUnderwritingService.IUnderwritingUpdatesService" name="IUnderwritingService" />
    </client>
  </system.serviceModel>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <!-- Added for Large Uploads -->
    <httpRuntime targetFramework="4.6.1" executionTimeout="43200" maxRequestLength="2097152" requestValidationMode="2.0" requestPathInvalidCharacters="&lt;,&gt;,*,%,&amp;,\" />

    <customErrors />
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>

    <!-- Added for Large Uploads -->
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2147483648" />
      </requestFiltering>
    </security>

    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.ServiceLocation" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" culture="neutral" publicKeyToken="b03f5f7f11d50a3a" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.3.0" newVersion="5.8.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.3.0" newVersion="5.8.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Spatial" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.3.0" newVersion="5.8.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
    <interceptors>
      <interceptor type="Markel.GlobalRe.Service.Underwriting.Data.Databases.BatchCommandInterceptor, Markel.GlobalRe.Service.Underwriting.Data.Implementation">
      </interceptor>
      <interceptor type="Markel.GlobalRe.Service.Underwriting.Data.Databases.BatchConfigurationInterceptor, Markel.GlobalRe.Service.Underwriting.Data.Implementation">
      </interceptor>
    </interceptors>
  </entityFramework>
</configuration>