<?xml version="1.0" encoding="utf-8" ?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">

  <typeAliases>
    <typeAlias alias="ICacheStore" type="Markel.Pricing.Service.Infrastructure.Cache.ICacheStore, Markel.Pricing.Service.Infrastructure.Core" />
    <typeAlias alias="LocalCacheStore" type="Markel.Pricing.Service.Infrastructure.Data.Cache.LocalCacheStore, Markel.Pricing.Service.Infrastructure.Data" />

    <!--<typeAlias alias="ICacheProvider" type="Caching.ICacheProvider, Caching" />
        <typeAlias alias="CacheProvider" type="Caching.CacheProvider, Caching" />-->

    <typeAlias alias="ILogger" type="Markel.Pricing.Service.Infrastructure.Logging.ILogger, Markel.Pricing.Service.Infrastructure.Core" />
    <typeAlias alias="Log4NetLogger" type="Markel.Pricing.Service.Infrastructure.Logging.Loggers.Log4NetLogger, Markel.Pricing.Service.Infrastructure.WebAPI" />

    <typeAlias alias="ILogController" type="Markel.Pricing.Service.Infrastructure.Logging.ILogController, Markel.Pricing.Service.Infrastructure.Core" />
    <typeAlias alias="LogController" type="Markel.Pricing.Service.Infrastructure.Controllers.LogController, Markel.Pricing.Service.Infrastructure.WebAPI" />
  </typeAliases>

  <containers>
    <container>
      <!--Needs to have a blank container -->
    </container>

    <container name="default">
      <types>
        <type type ="ILogger" mapTo="Log4NetLogger"/>
        <type type ="ILogController" mapTo="LogController">
          <lifetime type="singleton" />
        </type>
        <!--<type type ="IDependencyManager" mapTo="DependencyManager" name="DependencyMgr"/>-->
        <!-- Interfaces related to IStartupManager are placed here soo that Unity can resolve them during startup -->
        <!--<type type ="IJobQueueRepository" mapTo="JobQueueRepository" name="JobQueueRepo"/>
        <type type ="IJobQueueManager" mapTo="JobQueueManager" name="JobQueueMgr"/>
        <type type ="IStartupManager" mapTo="HangfireServiceManager" name="HangfireServiceMgr"/>
        <type type ="IStartupManager" mapTo="JobQueueServiceManager" name="JobQueueServiceMgr"/>-->
      </types>
    </container>

    <container name="clientDataServiceContainer">
    </container>

    <container name="cacheContainer">
      <types>
        <!--Default Cache Store required for Authentication by Core Velocity-->
        <!--Do not set the lifetime to singleton-->
        <type type="ICacheStore" mapTo="LocalCacheStore"/>
      </types>
    </container>

  </containers>

</unity>