<GlobalReProperties>
  <BrowserMode>firefox</BrowserMode>
  <ReleaseNumber></ReleaseNumber>
  <Environments>
    <RunEnvironment>DEV</RunEnvironment>
    <Url>http://localhost:4200/</Url>
    <DEVUrl>http://d-rdc-core01:50092/ng/#/login?userName=vboya</DEVUrl>
    <QAUrl>http://q-rdc-core01:50092/ng/#/login?userName=vboya</QAUrl>
    <ADEVUrl>http://localhost:4200/#/dashboard</ADEVUrl>
    <UWDEVUrl>http://d-rdc-core01:50092/ng/#/login?userName=Mike.McCarthy</UWDEVUrl>
    <UWQAUrl>http://q-rdc-core01:50092/ng/#/login?userName=Mike.McCarthy</UWQAUrl>
    <NPTADEVUrl>http://d-rdc-core01:50092/ng/#/login?userName=rcorbin</NPTADEVUrl>
    <NPTAQAUrl>http://q-rdc-core01:50092/ng/#/login?userName=rcorbin</NPTAQAUrl>
    <PTADEVUrl>http://d-rdc-core01:50092/ng/#/login?userName=Elena.Marshall</PTADEVUrl>
    <PTAQAUrl>http://q-rdc-core01:50092/ng/#/login?userName=Elena.Marshall</PTAQAUrl>
    <ActuaryDEVUrl>http://d-rdc-core01:50092/ng/#/login?userName=lslader</ActuaryDEVUrl>
    <ActuaryQAUrl>http://q-rdc-core01:50092/ng/#/login?userName=lslader</ActuaryQAUrl>
    <ActuaryManagerDEVUrl>http://d-rdc-core01:50092/ng/#/login?userName=Todd.Glassman</ActuaryManagerDEVUrl>
    <ActuaryManagerQAUrl>http://q-rdc-core01:50092/ng/#/login?userName=Todd.Glassman</ActuaryManagerQAUrl>
    <UnderwriterManagerDEVUrl>http://d-rdc-core01:50092/ng/#/login?userName=Andrew.Barnard</UnderwriterManagerDEVUrl>
    <UnderwriterManagerQAUrl>http://q-rdc-core01:50092/ng/#/login?userName=Andrew.Barnard</UnderwriterManagerQAUrl>
    <ReadonlyAccessUserDevUrl>http://d-rdc-core01:50092/ng/#/login?userName=pravin.shelar</ReadonlyAccessUserDevUrl>
    <ReadonlyAccessUserQAUrl>http://q-rdc-core01:50092/ng/#/login?userName=pravin.shelar</ReadonlyAccessUserQAUrl>
  </Environments>
  <DirectoryPaths>
    <CommonDirectory>C:\Users\vboya\RubymineProjects\GlobalReUI</CommonDirectory>
    <SupportDirectory>C:\Users\vboya\RubymineProjects\GlobalReUI\features\GRS_POC\support</SupportDirectory>
    <UtilityDirectory>C:\Users\vboya\RubymineProjects\GlobalReUI\features\GRS_POC\utilities</UtilityDirectory>
    <PageClassesDirectory>C:\Users\vboya\RubymineProjects\GlobalReUI\features\GRS_POC\Pages</PageClassesDirectory>
    <ResultsDirectory>C:\Users\vboya\RubymineProjects\GlobalReUI\features\GRS_POC\Testresults</ResultsDirectory>
    <BaseClassesDirectory>C:\Users\vboya\RubymineProjects\GlobalReUI\features\GRS_POC\Base</BaseClassesDirectory>
    <TestDataDirectory>C:\Users\vboya\RubymineProjects\GlobalReUI\features\GRS_POC\Testdata</TestDataDirectory>
    <ConfigDirectory>C:\Users\vboya\RubymineProjects\GlobalReUI\features\GRS_POC\Config</ConfigDirectory>
    <AssertionsDirectory>C:\Users\vboya\RubymineProjects\GlobalReUI\features\GRS_POC\Assertions</AssertionsDirectory>
    <DriversDirectory>CC:\Users\vboya\RubymineProjects\GlobalReUI\features\GRS_POC\Drivers</DriversDirectory>
    <StepDefinitionDirectory>C:\Users\vboya\RubymineProjects\GlobalReUI\features\GRS_POC\step_definitions</StepDefinitionDirectory>
  </DirectoryPaths>
</GlobalReProperties>