<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.2.0" targetFramework="net461" />
  <package id="EntityFramework.DbContextScope" version="1.0.0" targetFramework="net461" />
  <package id="EntityFrameworkExtras.EF6" version="1.0.0" targetFramework="net461" />
  <package id="LinqKit.EntityFramework" version="1.1.15" targetFramework="net461" />
  <package id="log4net" version="2.0.8" targetFramework="net461" />
  <package id="System.Linq.Dynamic" version="1.0.7" targetFramework="net461" />
</packages>