<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="EnvironmentName" value="GRSUAT" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <!--add key="TokenEndpoint" value="https://GlobalReAPI-UAT.MarkelCorp.com/token" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/-->
    <add key="TokenEndpoint" value="http://u-rdc-core01:50090/token" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="CorsOrigins" xdt:Transform="Remove" xdt:Locator="Match(key)" /> <!-- Only for local development SSO -->
    <add key="IsImpersonationAllowed" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key ="production" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key ="LINK_IMAGE_RIGHT" value="http://tstapp503.test.mkltestna.com/DmsApi/v8/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key ="LINK_QLIKVIEW_URL" value="https://qlikviewreporting/QvAJAXZfc/opendoc.htm?document=global%20re%5Cglobal%20re%20dashboard.qvw&amp;host=QVS%40qvcluster" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key ="LINK_ERMS_URL" value="erms:ERMSHome\\ERMSHome.Shell.exe alias=GRSUAT" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key ="LINK_ERMRCM_URL" value="erms:pClaimMgmt.exe alias=GRSUAT" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key ="LINK_AMBEST_URL" value="http://www.ambest.com/home/default.aspx" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key ="LINK_SNL_URL" value="https://platform.mi.spglobal.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key ="LINK_GUYCARPENTER_URL" value="https://gcmarketplace.guycarp.com/login" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key ="LINK_AON_URL" value="https://placements.abconnect.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key ="LINK_SERVICEDESK_EMAIL" value="servicedesk@markelcorp.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key ="LINK_EXPENSES_URL" value="https://eftz.login.us6.oraclecloud.com/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key ="LINK_WORKDAY_URL" value="https://wd5.myworkday.com/markelcorp/d/home.htmld" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key ="LINK_MARKELEXTERNAL_URL" value="http://www.markel.com/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key ="LINK_MYMARKEL_URL" value="http://mymarkelglobal/Pages/home.aspx" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key ="LINK_ERMS_DEALEDIT_API" value="erms:pDealEdit alias=GRSUAT" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

  </appSettings>
</configuration>
