/* 
.main-container .dashboard-container .checkbox-panel-sec  {
    float: left;
    box-shadow: none;
    border-radius: 0;
    background: none;
    padding: 0;
    display: block;
    width: 60%;
    margin-top: 15px;
    margin-bottom: -15px;
}
.main-container .dashboard-container .checkbox-panel-hide {
    float: left;
    box-shadow: none;
    border-radius: 0;
    background: none;
    padding: 0;
    display: none
}
.main-container .dashboard-container .checkbox-panel-sec.mat-card {
    float: left;
    box-shadow: none;
    border-radius: 0;
    background: none;
    padding: 0;
    width: 100%;

  }
  .main-container .dashboard-container .checkbox-panel-sec .checkbox-panel {
    float: left;
  }
  .sub-status-shown{

  }
  .sub-status-hide{

  }
  .main-container
    .dashboard-container
    .checkbox-panel-sec
    .checkbox-panel.mat-card {
    float: left;
    box-shadow: none;
    border-radius: 0;
    padding: 0;
    background: none;
    width: 100%;
    margin-top: 1rem;
    height: 1rem;
  }
  .main-container
    .dashboard-container
    .checkbox-panel-sec
    .checkbox-panel.mat-card
    .mat-card-content {
    display: inline-block;
    margin-right: 10px;
    margin-top: 5px;
  }
  
  .main-container
    .dashboard-container
    .checkbox-panel-sec
    .checkbox-panel.mat-card
    .mat-card-content
    > span {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 3px 5px;
    font-size: 10px;
  }
  
  .main-container
    .dashboard-container
    .checkbox-panel-sec
    .checkbox-panel
    .mat-checkbox
    .mat-checkbox-label {
    font-size: 13px;
    font-weight: 700;
    color: #483a3a;
  }
  .main-container
    .dashboard-container
    .checkbox-panel-sec
    .checkbox-panel
    .mat-checkbox-checked.mat-accent
    .mat-checkbox-background,
  .main-container
    .dashboard-container
    .checkbox-panel-sec
    .checkbox-panel
    .mat-checkbox-indeterminate.mat-accent
    .mat-checkbox-background {
    background: #7bb13e;
  }
  .main-container
    .dashboard-container
    .checkbox-panel-sec
    .checkbox-panel
    .mat-checkbox-inner-container {
    height: 15px;
    width: 15px;
  }
  .main-container .dashboard-container .checkbox-panel-sec .panel-datafilter {
    float: right;
    margin-top:20px
  }
  .main-container
    .dashboard-container
    .checkbox-panel-sec
    .panel-datafilter.mat-card {
    float: right;
    box-shadow: none;
    border-radius: 0;
    background: none;
    padding: 0;
    width: 50%;
  }
  .main-container .dashboard-container .checkbox-panel-sec .panel-datafilter ul {
    border-right: 1px solid #ccc;
    margin: 0;
    padding: 0;
    float: right;
  }
  .main-container
    .dashboard-container
    .checkbox-panel-sec
    .panel-datafilter
    ul
    li {
    padding: 0 10px;
    display: inline-block;
  }
  .main-container
    .dashboard-container
    .checkbox-panel-sec
    .panel-datafilter
    ul
    li
    a {
    font-size: 11px;
    color: #434547;
    letter-spacing: 0.3px;
    font-weight: normal;
    text-decoration: none;
    text-transform: uppercase;
  }
  .main-container
    .dashboard-container
    .checkbox-panel-sec
    .panel-datafilter
    ul
    li
    a.active {
    border-radius: 22.5px;
    border: solid 1px #4b5054;
    padding: 5px 20px;
  }
  .main-container
    .dashboard-container
    .checkbox-panel-sec
    .panel-datafilter
    .timer_sec {
    float: right;
    margin-left: 2%;
    color: #4d4747;
    font-size: 12px;
    padding-top: 4px;
  }
  .main-container
    .dashboard-container
    .checkbox-panel-sec
    .panel-datafilter
    .timer_sec
    span {
    display: inline-block;
    position: relative;
    top: -11px;
    margin-right: 5px;
  }
  .main-container
    .dashboard-container
    .checkbox-panel-sec
    .panel-datafilter
    .timer_sec
    span
    b {
    font-weight: 700;
  }
  .main-container
    .dashboard-container
    .checkbox-panel-sec
    .panel-datafilter
    .timer_sec
    .material-icons {
    position: relative;
    top: -3px;
    cursor: pointer;
  
  }



 */