.home-icon{
    height: 24px; 
    width: 23px; 
    color: #FFFFFF; 
    font-family: FontAwesome;
    font-size: 24px; 
    line-height: 24px;
    position: relative;
    top: 2px;

}
.quick-link-icon-panel{
    padding: 5px 0px;
    width: 50px;
    cursor: pointer;
}
.menu-ssbutton{
    height: 24px;
    display: block;
    width: 50px;
    color: #FFFFFF;
    font-family: FontAwesome;
    font-size: 24px;
    letter-spacing: -0.01px;
    line-height: 24px;
    text-align: center;
}
.text-quick-links{
    display: block;
    height: 11px; 
    width: 50px; 
    color: #FFFFFF;
    font-size: 9px; 
    line-height: 11px;
    margin-top:-27%
}